---
import Layout from '../layouts/Layout.astro';
import { type CollectionEntry } from 'astro:content';
import Gallery from '../components/Gallery.astro';
import AutoGallery from '../components/AutoGallery.astro';

interface Props {
  entry: CollectionEntry<'work'> | CollectionEntry<'news'> | CollectionEntry<'sold'>;
  next?: any;
  prev?: any;
  baseSlug?: string;
  slug?: string;
}

const { entry, next, prev, baseSlug, slug } = Astro.props;
const { Content } = await entry.render();

const { title, description, thumbnail } = entry.data;
---

<Layout title={title} description={description}>
  <article class={`post-content ${thumbnail ? '' : 'no-image'}`}>
    {description && (
      <p class="post-content-excerpt">{description}</p>
    )}

    {thumbnail && (
      <div class="post-content-image">
        <img src={thumbnail} class="kg-image" alt={title} />
      </div>
    )}

    <div class="post-content-body" id="post-body">
    <Content />
    </div>

    {entry.data.gallery && (
      <Gallery
        items={entry.data.gallery}
        group={entry.data.title}
        title="Galleria"
      />
    )}

    {slug && <AutoGallery slug={slug} />}
    <script>
  window.addEventListener("DOMContentLoaded", () => {
    const body = document.getElementById("post-body");
    const credit = body?.querySelector(".photo-credit");
    const postLink = document.querySelector(".post-link");

    if (credit && postLink) {
      postLink.parentElement.insertBefore(credit, postLink);
    }
  });
</script>
    <div class="post-link">
      <div>
        {next && (
          <a
            style="display: flex; align-items: center; color: #131313; font-size: 2rem;"
            href={`/${baseSlug}/${next.slug}`}
          >
            <span>&larr; {next.data.title}</span>
          </a>
        )}
      </div>
      <div>
        {prev && (
          <a
            style="display: flex; align-items: center; color: #131313; font-size: 2rem;"
            href={`/${baseSlug}/${prev.slug}`}
          >
            <span>{prev.data.title} &rarr;</span>
          </a>
        )}
      </div>
    </div>
  </article>
</Layout>